* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #333;
    color: #fff;
    padding: 1rem;
    margin: 0 auto;
}

.new-item-form {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label
{
    font-size: 20px;
}

#todos {
    font-size: 16px;
}

input {
    background: rgb(202, 202, 202);
    border: none;
    padding: 10px 100px;
    padding-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn {
    background: rgba(202, 202, 202, 0.7);
    padding: 0px;
    padding: 6px 40px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 14px;
}

.header {
    padding: 0;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

.list {
    list-style-type: none;
}

#del {
    margin-left: 30px;
}